<div class="main-content" >
    <div class="container-fluid">

<form [formGroup]="competenceForm" (submit)="submit()">

    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label>Nom</label>
                <input formControlName="nom" type="text" class="form-control" placeholder="Nom" >
            </div>
        </div>
       
    </div>

    
    <a href="admin/competence"><button class="btn btn-danger btn-fill pull-left" type="button" data-toggle="tooltip" data-placement="top" title="Retour"><i class="fa fa-arrow-left"></i> Revenir à la liste </button></a>
    <button type="submit" class="btn btn-warning btn-fill pull-left" style="margin: left 100px;"><i class="fa fa-save"></i> Sauvegarder </button>
    <div class="clearfix"></div>
</form>

</div>
</div>