<div class="main-content">
    <div class="container-fluid">
      
        <div class="row">

            <div class="col-md-12">
                <div class="card">
                    <div class="header">   
                        
                        <h4 class="title" color="red">Table Des Ressources</h4>
                        <br>

                        <a href="admin/addRessource"><button class="btn btn-warning btn-fill pull-left" type="button" data-toggle="tooltip" data-placement="top" title="Ajouter une ressource"><i class="fa fa-plus"></i> Nouvelle Ressource </button></a>
                   
                    </div>
                    <br>
                    <br>
  
                    <div class="content table-responsive table-full-width">
                          <table class="table table-hover table-striped">
                                <thead>
                                    <th> # </th>
                                    <th> Nom </th>
                                    <th> Prénom </th>
                                    <th> Numéro Télèphone </th>
                                    <th> Adresse mail </th>
                                    <th> Role </th>
                                    <th> Projet</th>
                                    <th> Action </th>

                                </thead>
                                <tbody>
                                    <tr *ngFor="let user of userList">
                                        <td>{{user.id}} </td>
                                        <td>{{user.nom}} </td>
                                        <td>{{user.prenom}}</td>
                                        <td>{{user.telephone}}</td>
                                        <td>{{user.email}} </td>
                                        <td>{{user.role}} </td>
                                        <td>{{user.projet['id']}}</td>

                                        <a href="admin/editRessource/{{user.id}}"><button class="btn btn-warning btn-sm rounded-0" type="button" data-toggle="tooltip" data-placement="top" title="Editer"><i class="fa fa-edit"></i></button></a>
                                        <button (click)="delete(user.id)" class="btn btn-danger btn-sm rounded-0" type="button" data-toggle="tooltip" data-placement="top" title="Supprimer"><i class="fa fa-trash"></i></button>
                                      </tr>

                                </tbody>
                          </table>

                    </div>

                </div>
            </div>
   
    
        </div>
    </div>
</div>